.box {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.1, 1.1);
}

.box:hover::after {
    opacity: 1;
}


// .product-card {
//   display: flex;
//   flex-direction: column;
//   text-align: center;
//   align-items: center;
//   overflow: hidden;
//   position: relative;

//   &:hover {
//     box-shadow: 0 12px 11px rgba(33, 33, 33, 0.2);
//     opacity: 0.9;
//     .product-image {
//       transform: scale(1.1);
//       transition: transform 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
//     }
//     .card-button {
//       display: flex;
//     }
//   }

//   .card-button {
//     opacity: 1;
//     position: absolute;
//     top: 30%;
//     left: 37%;
//     display: none;
//   }
// }

// .product {
//   background: #ffffff;
//   margin-bottom: 2rem;
//   box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
//   transition: all 0.3s linear;
//   flex-direction: column;
//   display: flex;
//   min-height: 19.69rem;

//   .product-image {
//     padding: 3rem;
//     background: rgba(255, 255, 255, 0.5);
//     position: relative;

//     img {
//       width: 100%;
//       transition: all 0.3s linear;
//       min-height: 9rem;
//     }

//     .product-link {
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%);
//       opacity: 0;
//       transition: all 0.3s linear;
//     }
//     /* height: 5rem; */
//   }

//   &:hover {
//     box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

//     img {
//       opacity: 0.4;
//     }
//     .product-link {
//       opacity: 1;
//     }
//   }

//   .product-footer {
//     padding: 0rem 1rem 1rem 1rem;
//     text-align: center;
//     display: grid;
//     grid-template-rows: 1fr auto;

//     .product-title {
//       text-transform: uppercase;
//       font-weight: bold;
//       font-size: 0.8rem;
//       margin-bottom: 0.5rem;
//     }
//     .product-price {
//       color: #246bee;
//       font-weight: bold;
//       margin-bottom: 0;
//       font-size: 1.1rem;
//     }
//   }
// }

// .btn-product {
//   color: #246bee;
//   border: 2px solid #246bee;
//   padding: 0.45rem 0.8rem;
//   display: inline-block;
//   transition: all 0.3s linear;
//   cursor: pointer;
//   background: transparent;
// }
// .btn-product:hover {
//   background: #246bee;
//   color: #ffffff;
//   text-decoration: none;
// }
