.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: #246bee;
  
    .logo-container {
      height: 100%;
      padding: 25px;
      .logo{
        width: 150px; 
      }
    }
    
    .global-options {
      width: 15%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 45px;
        
      .option {
        padding: 10px 15px;
      }

    }

    .login-cart {
      width: 0%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
        
      .option {
        padding: 10px 15px;
      }
    }

    a {
      color :white;
    }
    
    a:hover{
      text-decoration: underline;
    }
  }