.image-container {
  min-height: calc(65vh);
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7) 50%,
      rgba(255, 255, 255, 0.1)
    ),
    url("https://source.unsplash.com/5DLBoEX99Cs/3000x800") center/cover
      no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    .products-button {
      opacity: 0.8;
      transition: all 0.4s linear;
    }
  }

  .banner {
    width: 100%;
  }

  h6 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 8rem;
  }
  .products-button {
    font-size: 1.2em !important;
    opacity: 0;
  }
}
