.image-container {
  min-height: calc(65vh);
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7) 50%,
      rgba(255, 255, 255, 0.1)
    ),
    url("https://source.unsplash.com/5DLBoEX99Cs/3000x800") center/cover
      no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .banner {
    width: 100%;
  }

  h6 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 8rem;
  }

  .products-btn {
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      background-color: #fff;
      color: #777;
      padding: 15px 40px;
      border-radius: 100px;
      transition: all 0.2s;
      position: relative;
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    &:active {
      transform: translateY(-1px);
    }

    &::after{
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      background-color: #fff;
      color: #777;
      top: 0;
      left: 0;
      z-index: -1;
      position: absolute;
      transition: all .4s;
    }

    &:hover::after{
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
}
